@using tl2_tp10_2023_lucianobonilla27.ViewModels
@section Scripts{<partial name="_ValidationScriptsPartial"/>}
@model CrearTableroViewModel;

<form asp-controller="Tablero" asp-action="CrearTablero" method="post">
    <div class="mb-3">
        <label for="lbl.nombre" class="form-label" asp-for="Nombre">Nombre: </label>
        <input type="text" class="form-control" id="lbl.nombre" asp-for="Nombre">
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label for="lbl.descripcion" class="form-label" asp-for="Descripcion">Descripción: </label>
        <input type="text" class="form-control" id="lbl.descripcion" asp-for="Descripcion">
    </div>

    
    <p>El usuario Propiertario de este tablero sera el de la sesion iniciada</p>

    

    <button type="submit" class="btn btn-primary">Crear</button>
</form>
