@using tl2_tp10_2023_lucianobonilla27.ViewModels;
@section Scripts{<partial name="_ValidationScriptsPartial"/>}
@model EditarTableroViewModel;
<form asp-controller="Tablero" asp-action="EditarTablero" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Id_Usuario_Propietario">

    <div class="mb-3">
        <label class="form-label" asp-for="Nombre">Nombre: </label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="NombreUsuario">Nombre Usuario propiertario: </label>
        <input asp-for="NombreUsuario" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Descripcion">Descripción: </label>
        <input asp-for="Descripcion" class="form-control" />
    </div>


    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
</form>
