@using tl2_tp09_2023_lucianobonilla27.Models;
@using tl2_tp10_2023_lucianobonilla27.ViewModels;
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@model CambiarEstadoTareaViewModel;

<style>
    /* Estilos personalizados para la paleta de colores neutra */
    body {
        background-color: #ECF0F1;
        color: #2C3E50;
    }

    h2, h4 {
        color: #3498DB;
    }

    .form-label, .form-control, .btn-primary {
        background-color: #ECF0F1;
        border-color: #3498DB;
        color: #2C3E50;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .btn-primary:hover {
        filter: brightness(90%);
    }

    .text-danger {
        color: #E74C3C;
    }
</style>

<form asp-controller="Tarea" asp-action="CambiarEstadoTarea" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label" asp-for="EstadoT">Estado: </label>
        <select asp-for="EstadoT" class="form-control">
            <option value="">Seleccione un estado</option>
            @foreach (var estado in Enum.GetValues(typeof(Tarea.Estado)))
            {
                <option value="@estado">@estado</option>
            }
        </select>
        <span asp-validation-for="@Model.EstadoT" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Cambiar Estado</button>
</form>
