@using tl2_tp09_2023_lucianobonilla27.Models;
@using tl2_tp10_2023_lucianobonilla27.ViewModels;
@section Scripts{<partial name="_ValidationScriptsPartial"/>}
@model EditarTareaViewModel;

<form asp-controller="Tarea" asp-action="EditarTarea" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <input type="hidden" asp-for="IdTablero" class="form-control"/>
        <label class="form-label" asp-for="NombreTablero">Nombre Tablero</label>
        <input asp-for="NombreTablero" class="form-control"/>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Nombre">Nombre Tarea: </label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="EstadoT">Estado: </label>
        <select asp-for="EstadoT" class="form-control">
            <option value="">Seleccione un estado</option>
            @foreach (var estado in Enum.GetValues(typeof(Tarea.Estado)))
            {
                <option value="@estado">@estado</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Descripcion">Descripción: </label>
        <input asp-for="Descripcion" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Color">Color: </label>
        <input asp-for="Color" class="form-control" />
    </div>

    <div class="mb-3">
        <input type="hidden" asp-for="IdUsuarioAsignado" class="form-control" />
        <label class="form-label" asp-for="NombreUsuarioAsignado">Nombre Usuario Asignado: </label>
        <input asp-for="NombreUsuarioAsignado" class="form-control"/>

    </div>

    <button class="btn btn-primary" type="submit">Editar Tarea</button>
</form>
